Body {
    margin: 0;
    /* background-color: rgb(14, 2, 121); */
    background-image: url("../images/ps4.jpg");
}

h1 {
    line-height: 100px;
    margin-left: 20px;
    font-family: 'Yomogi', cursive;
    font-size: 56px;
    font-weight: 100px;
    margin-top: 0;
    margin-bottom: 0;
}

h4 {
    margin-left: 20px;
    margin-top: 20px;
    Margin-bottom: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1000;
    font-size: 50px;
    color: antiquewhite;
}

p {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    Margin-bottom: 0;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    column-count: 1;
    color: aliceblue;
}

a {
    text-decoration: none;
    color: rgb(2, 0, 145);
}

a:hover {
    color: blue;
}
a p{
    background-color: rgba(128, 25, 25, 0);
    transition: .3s;
}
a p:hover{
    background-color: rgba(53, 53, 126, 0.474);
}
a p:active{
    background-color: blueviolet;
}

#container {
    width: 800px;
    height: 800px;
    background-color: rgb(255, 0, 0);
    background-image: url("../images/sm\ background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;

}

#masthead {
    height: 100px;
    background-image: url("../images/sm_header1.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}
#links-block{
    width:50%;
    white-space: nowraps;
}
#content-holder{
    position: relative;
}

#spidermeme{
    position: absolute;
    width: 200px;
    right: 0;
    bottom: 0px;
    margin-top: 0;
    margin-bottom: -10px;
}